ROLLBAR_ACCESS_TOKEN=your_rollbar_token_here

GITHUB_CLIENT_ID=your_client_id_here
GITHUB_CLIENT_SECRET=your_client_secret_here

BASE_URL=http://localhost:3000

SMTP_ADDRESS=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password

DATABASE_URL=postgresql://user:password@localhost/db_name
