<div class="container mt-5">
  <div class="text-center">
    <h1><%= t("home.title") %></h1>
    <p class="lead"><%= t("home.description") %></p>
    <p><%= t("home.features.track") %></p>
    <hr class="my-4">
    <p><%= t("home.project_in_development") %></p>
  </div>
</div>
