<div class="container mt-5">
  <div class="text-center">
    <h1><%= t(".title") %></h1>
    <p class="lead"><%= t(".description") %></p>
    <p><%= t(".track") %></p>
    <hr class="my-4">
    <p><%= t(".project_in_development") %></p>
  </div>
</div>
